# flyctl launch added from .gitignore
# Secrets
**\.env
**\*.env.local

# Python
**\__pycache__
**\*.py[cod]
**\*$py.class
**\*.so
**\.Python
**\venv
**\.venv
**\env
**\*.egg-info
**\.pytest_cache
**\.mypy_cache

# Data
**\data
**\*.db
**\*.db-journal
**\*.sqlite
**\*.sqlite3

# OS
**\.DS_Store
**\Thumbs.db

# IDE
**\.vscode
**\.idea
**\*.swp

# flyctl launch added from .pytest_cache\.gitignore
# Created by pytest automatically.
.pytest_cache\**\*
fly.toml
